{% load staticfiles %}
<!doctype html>

<html>
    <head>
        <title>
        {% block title %}
             Freeshelf
        {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        {% block header %}
        {% endblock header %}
    </head>
    <body>
        <h2><a href="http://127.0.0.1:8000/admin/">Admin</a></h2>
        {% block content %}
        {% endblock content %}

        {% block footer %}
        {% endblock footer %}
    </body>
</html>