{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Free Books Online!</h1>
    <h2>Some categories to choose from:</h2>
    <div class="category-wrapper">
        {% for category in categorys %}
            <h2>
                <a href="{% url 'category_detail' slug=category.slug %}">
                    {{ category.subject }}
                </a>
            </h2>
        {% endfor %}
    </div>
    <h2>Feel free to browse these awesome books:</h2>
    {% for book in books %}
        <div class='book-wrapper'>
            <h2>
                <a href="{{ book.book_URL }}">{{ book.title }}</a>
            </h2>
            <p>by {{ book.author }}</p>
            <p>{{ book.description }}</p>
            <p>{{ book.date }}</p>
            <p>{{ book.category }}</p>
        </div>
    {% endfor %}
{% endblock content %}